/* CSS Variables */
:root {
    --primary-color: #004f83;
    --accent1-color: #333333;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: Dancing Script, cursive;
    --hover-color: #ffcc00;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
}

nav {
    display: flex;
}


nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: var(--hover-color); /* yellow */
    background-color: transparent;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.title {
    text-align: center;
    padding: 20px;
}

.images {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 20px;
}

.images img {
    width: 95%;
    height: auto;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
}
