/* CSS Variables */
:root {
    --primary-color: #004f83;
    --accent1-color: #333333;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
    --hover-color: #ffcc00;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    padding: 10px;
    right: -450px;
    gap: 10px;
    transition: .3s ease;
}

.menu.active {
    right: 0;
    top: 30px;
}

.ham-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 1000;
}

.ham-menu span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ease;
}

.ham-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

nav {
    display: flex;
}


nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: var(--hover-color); /* yellow */
    background-color: transparent;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.title {
    text-align: center;
    padding: 20px;
}

.images {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 20px;
}

.images img {
    width: 95%;
    height: auto;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    color: white;
    background-color: var(--primary-color);
}
