@media screen and (min-width: 768px) {
    .navigation {
        flex-direction: row;
    }
    
    .temple-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    header {
        padding: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .temple-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    
    body {
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
}