@media screen and (min-width: 500px) {
    header {
        color: black;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}